In [2]:
import pandas as pd
import numpy as np

## Series

In [3]:
data1 = np.arange(5)
ser_obj1 = pd.Series(data1,index=['a','b','c','d','e'],dtype=float,copy=True)
ser_obj1

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [4]:
data1 = np.arange(5)
ser_obj1 = pd.Series(data1,index=data1,copy=True)
ser_obj1

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [5]:
year_data = {2001:17.8,2002:20.1,2003:16.5}
ser_obj2 = pd.Series(year_data)
ser_obj2

2001    17.8
2002    20.1
2003    16.5
dtype: float64

In [6]:
#关于Series中参数copy的分析
s = pd.Series([1,2],index=['a','b'])
deep = s.copy()#深拷贝
shallow = s.copy(deep=False)#浅拷贝

In [7]:
s is shallow

False

In [8]:
s.values is shallow.values and s.index is shallow.index

True

In [9]:
s is deep

False

In [10]:
s.values is deep.values and s.index is deep.index

False

In [11]:
data3 = np.arange(5)
ser_obj3 = pd.Series(data1,index=['a','b','c','d','e'])
ser_obj3.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
ser_obj3.values

array([0, 1, 2, 3, 4])

In [13]:
ser_obj3.index[0]

'a'

In [14]:
ser_obj3.values[0]

0

In [15]:
ser_obj3.value_counts()

0    1
1    1
2    1
3    1
4    1
Name: count, dtype: int64

In [16]:
ser_obj4 = pd.Series(data1,index=['a','b','c','d','e'])
ser_obj4 * 6

a     0
b     6
c    12
d    18
e    24
dtype: int32

## DataFrame

In [29]:
demo_arr = np.array([['a','b','c'],['d','e','f']])
df_obj = pd.DataFrame(demo_arr,columns=['No1','No2','No3'])
df_obj

  No1 No2 No3
0   a   b   c
1   d   e   f

In [19]:
element1 = df_obj.No2
element1

0    b
1    e
Name: No2, dtype: object

In [20]:
element2 = df_obj['No2'] 
element2

0    b
1    e
Name: No2, dtype: object

In [21]:
type(element2)

pandas.core.series.Series

In [22]:
type(element1)

pandas.core.series.Series

In [30]:
df_obj['No4']=['g','h']
df_obj

  No1 No2 No3 No4
0   a   b   c   g
1   d   e   f   h

In [31]:
df_obj

  No1 No2 No3 No4
0   a   b   c   g
1   d   e   f   h

In [32]:
del df_obj['No4']
df_obj

  No1 No2 No3
0   a   b   c
1   d   e   f

##  pandas索引操作

In [33]:
ser_obja = pd.Series(range(3),index=['a','b','c'])
ser_objb = pd.Series(['a','b','c'],index=ser_obja.index)
ser_obja.index is ser_objb.index

True