In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
pd.to_datetime('20240610')

Timestamp('2024-06-10 00:00:00')

In [8]:
date_index = pd.to_datetime(['20240610', '20240611', '20240612'])
date_index[0]

Timestamp('2024-06-10 00:00:00')

In [9]:
date_ser = pd.Series([10, 11, 12], index=date_index)
date_ser

2024-06-10    10
2024-06-11    11
2024-06-12    12
dtype: int64

In [11]:
data_demo = [[11, 22, 33], [44, 55, 66], 
             [77, 88, 99]]
date_list = pd.to_datetime(['20240610', '20240611', '20240612'])
time_df = pd.DataFrame(data_demo, index=date_list)
time_df

             0   1   2
2024-06-10  11  22  33
2024-06-11  44  55  66
2024-06-12  77  88  99

In [10]:
datetime_list = pd.to_datetime(['20240610', '20240611', '20240612'])
time_se = pd.Series(np.arange(3), index=datetime_list)
time_se

2024-06-10    0
2024-06-11    1
2024-06-12    2
dtype: int32

In [12]:
time_se[2]

2

In [14]:
date_time = datetime(2024, 6, 11)
time_se[date_time]

1

In [16]:
time_se['20240611']

1

In [18]:
time_se['6/11/2024']

1

In [19]:
time_se['2024']

2024-06-10    0
2024-06-11    1
2024-06-12    2
dtype: int32

In [25]:
time_se.truncate(before='2024-6-11')

2024-06-11    1
2024-06-12    2
dtype: int32

In [27]:
time_se.truncate(after='2024-6-11')

2024-06-10    0
2024-06-11    1
dtype: int32

In [29]:
pd.date_range('2024/06/10', '2024/06/20')

DatetimeIndex(['2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13',
               '2024-06-14', '2024-06-15', '2024-06-16', '2024-06-17',
               '2024-06-18', '2024-06-19', '2024-06-20'],
              dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range(start='2024/06/10', periods=5)

DatetimeIndex(['2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13',
               '2024-06-14'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range(end='2024/06/10', periods=5)

DatetimeIndex(['2024-06-06', '2024-06-07', '2024-06-08', '2024-06-09',
               '2024-06-10'],
              dtype='datetime64[ns]', freq='D')

In [32]:
dates_index = pd.date_range('2024-06-10',         
                            periods=5,            
                            freq='W-SUN')         
dates_index

DatetimeIndex(['2024-06-16', '2024-06-23', '2024-06-30', '2024-07-07',
               '2024-07-14'],
              dtype='datetime64[ns]', freq='W-SUN')

In [34]:
pd.date_range(start='2024/6/10 12:13:30', periods=5, 
              tz='Asia/Hong_Kong')

DatetimeIndex(['2024-06-10 12:13:30+08:00', '2024-06-11 12:13:30+08:00',
               '2024-06-12 12:13:30+08:00', '2024-06-13 12:13:30+08:00',
               '2024-06-14 12:13:30+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='D')

In [33]:
pd.date_range(start='2024/6/10 12:13:30', periods=5,  normalize=True,
              tz='Asia/Hong_Kong')

DatetimeIndex(['2024-06-10 00:00:00+08:00', '2024-06-11 00:00:00+08:00',
               '2024-06-12 00:00:00+08:00', '2024-06-13 00:00:00+08:00',
               '2024-06-14 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='D')

In [35]:
from pandas.tseries.offsets import *
DateOffset(months=4, days=5)

In [36]:
Week(2) + Hour(10)

Timedelta('14 days 10:00:00')

In [39]:
date_offset  = Week(2) + Hour(10)
pd.date_range('2024/6/10', '2024/7/31', freq=date_offset)

DatetimeIndex(['2024-06-10 00:00:00', '2024-06-24 10:00:00',
               '2024-07-08 20:00:00', '2024-07-23 06:00:00'],
              dtype='datetime64[ns]', freq='346H')

In [41]:
datetime_list = pd.to_datetime(['20240610', '20240611', '20240612'])
time_se = pd.Series(np.arange(3), index=datetime_list)
time_se.shift(1)

2024-06-10    NaN
2024-06-11    0.0
2024-06-12    1.0
dtype: float64

In [44]:
period = pd.Period('2024/6')
period

Period('2024-06', 'M')

In [45]:
period + 1

Period('2024-07', 'M')

In [46]:
other_period = pd.Period(202001, freq='M' )
period - other_period

In [47]:
period_index = pd.period_range('2012.1.8', '2012.5.31', freq='M')
period_index

PeriodIndex(['2012-01', '2012-02', '2012-03', '2012-04', '2012-05'], dtype='period[M]')

In [48]:
period = pd.Period('2017', freq='A-DEC')
period.asfreq('M', how='start')

Period('2017-01', 'M')

In [49]:
period.asfreq('M', how='end')

Period('2017-12', 'M')

In [51]:
date_index = pd.date_range('2017.7.8', periods=30)
time_ser = pd.Series(np.arange(30), index=date_index)
time_ser.resample('W-MON', closed='left').mean()

2017-07-10     0.5
2017-07-17     5.0
2017-07-24    12.0
2017-07-31    19.0
2017-08-07    26.0
Freq: W-MON, dtype: float64

In [52]:
date_index = pd.date_range('2018/06/01', periods=30)
shares_data = np.random.rand(30)
time_ser = pd.Series(shares_data, index=date_index)
time_ser.resample('7D').ohlc()

                open      high       low     close
2018-06-01  0.763406  0.975184  0.157883  0.157883
2018-06-08  0.270669  0.952400  0.046476  0.952400
2018-06-15  0.051796  0.852874  0.051796  0.462475
2018-06-22  0.598929  0.890797  0.085355  0.091275
2018-06-29  0.700712  0.793460  0.700712  0.793460

In [53]:
data_demo = np.array([['101', '210', '150'], ['330', '460', '580']])
date_index = pd.date_range('2018/06/10', periods=2, freq='W-SUN')
time_df = pd.DataFrame(data_demo, index=date_index, 
columns=['A产品', 'B产品', 'C产品'])
time_df.resample('D').ffill()

            A产品  B产品  C产品
2018-06-10  101  210  150
2018-06-11  101  210  150
2018-06-12  101  210  150
2018-06-13  101  210  150
2018-06-14  101  210  150
2018-06-15  101  210  150
2018-06-16  101  210  150
2018-06-17  330  460  580